body {
    margin: 5vh 20vw;
}

header {
    background-color: rgb(100, 59, 146);
    margin: -5vh -20vw 10vh -20vw;
}

h1, h2, h3, h4, h5, h6  {
    padding: 2% 0%;
}

button {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(100, 59, 146);
    background: rgb(85, 32, 146);
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin: 0;
}