{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<h3>Add new recipe</h3>
<p></p>
<form action="/addrecipe" method="POST">
    <p>Name of the recipe: <input type="text" name="name" required></p>
    <p>Ingredients (separate by comma): <input type="text" name="ingredients" required></p>
    <p>Instructions:</p>
    <p><textarea name="instructions" rows="6" cols="60" required></textarea></p>
    <p></p>
    <input type="submit" value="Submit recipe">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}