<h2>{{ name }}</h2>
<h5>by {{ creator }}</h5>
<p></p>
<p></p>
<h4>Ingredients:</h4>
<ul>
    {% for ingredient in ingredients %}
    <li>{{ ingredient }}</li>
    {% endfor %}
</ul>
<p></p>
<h4>How to prepare:</h4>
<p>{{ instructions }}</p>
<p>&nbsp;</p>

{% if session.user_id %}
<a href="/review/{{recipe_id}}">Review this recipe</a>
{% else %}
<a href="/login">Log in</a> to review recipe
{% endif %}
<p>&nbsp;</p>

{% for review in reviews_list %}
<p><b>{{ review[1] }}/10 by {{ review[0] }}</b></p>
<p>{{ review[2] }}</p>
<p>&nbsp;</p>
{% endfor %}